

@font-face {
  font-family: "IRANSansMobile";
  src: url("/fonts/IranSans/Farsi_numerals/MobileFonts/IRANSansMobile(FaNum).ttf");
  font-weight: normal;
}
@font-face {
  font-family: "IRANSansMobile";
  src: url("/fonts/IranSans/Farsi_numerals/MobileFonts/IRANSansMobile(FaNum)_Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "IRANSansMobile";
  src: url("/fonts/IranSans/Farsi_numerals/MobileFonts/IRANSansMobile(FaNum)_Light.ttf");
  font-weight: light;
}
@font-face {
  font-family: "IRANSansMobile";
  src: url("/fonts/IranSans/Farsi_numerals/MobileFonts/IRANSansMobile(FaNum)_Medium.ttf");
  font-weight: medium;
}
@font-face {
  font-family: "IRANSansMobile";
  src: url("/fonts/IranSans/Farsi_numerals/MobileFonts/IRANSansMobile(FaNum)_UltraLight.ttf");
  font-weight: ultralight;
}

* {
  font-family: IRANSansMobile;
  font-weight: 400;
  font-size: 16px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  height: 100vh;
}